{% extends 'layout.html' %}
{% load bootstrap5 %}
{% block content %}
    <section class="container mt-5">
        <h2>Lista Productos Farmacéuticos</h2>
        <!-- {# Display django.contrib.messages as Bootstrap alerts #} -->
        {% bootstrap_messages %}
        {% if productos %}
        <!-- tabla con vehiculos -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Laboratorio</th>
              <th scope="col">Fecha de Fabricación</th>
              <th scope="col">Precio de Costo</th>
              <th scope="col">Precio de Venta</th>
              <th scope="col">Acciones</th>

            </tr>
          </thead>
          <tbody>
          {% for producto in productos %}
            <tr>
              <td>{{ producto.id }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.laboratorio }}</td>
              <td>{{ producto.fecha_fabricacion }}</td>
              <td>{{ producto.p_costo }}</td>
              <td>{{ producto.p_venta }}</td>

              
              <td>  
                <a class="btn" href="{% url 'editar' producto_id=producto.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                  <i class="fa fa-edit text-primary"></i>
                </a>
                <a class="btn" href="{% url 'eliminar' producto_id=producto.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                  <i class="fa fa-edit text-danger"></i>
                </a>
     
              </td>


            </tr>
          {% empty %}
            <tr>
                <td colspan="4">No hay productos disponibles</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No hay productos disponibles</p>
        {% endif %}

        <a class="nav-link" href="{% url 'crear'  %}" style="text-decoration:underline";><h5>Agregar Producto</h5></a>
    </section>
{% endblock %}